.SubsequentVisit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.SubsequentVisit .stars-container {
  display: flex;
  justify-content: center;
}

.SubsequentVisit svg {
  color: #f0b202;
  font-size: 3rem;
}

.SubsequentVisit button {
  background-color: #f0b202;
}
