.DesktopHeader {
  display: flex;
  justify-content: space-between;
}

.DesktopHeader div {
  display: flex;
  align-items: center;
}

.DesktopHeader svg {
  height: 1.5rem;
  width: 1.5rem;
}

.DesktopHeader .username {
  margin-right: 0.5rem;
}

.DesktopHeader .menu-button {
  display: flex;
  border: 0;
  padding: 0.3rem 0.4rem;
  background-color: #f0b202;
  color: #f5f5f5;
  border-radius: 5px;
}

.DesktopHeader .menu-button:active {
  opacity: 0.8;
}
