.InviteFriendsModal .modal-title {
  color: #353839;
}

.InviteFriendsModal form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InviteFriendsModal .friends-list {
  display: flex;
  width: 100%;
  overflow: auto;
}

.InviteFriendsModal .invite-friends-button {
  margin-top: 1em;
  width: 50%;
  color: #353839;
  background-color: #f0b202;
}
