.InboxNav {
  position: sticky;
  top: 0;
  height: 100%;
  width: 3rem;
  z-index: 99;
  background-color: #f5f5f5;
}

.InboxNav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.InboxNav li {
  display: flex;
  align-items: center;
  position: relative;
  height: 50%;
  width: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.InboxNav .badge {
  position: absolute;
  top: 1em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0b202 !important;
}

.InboxNav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  color: #353839;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 100%;
  width: 100%;
  border-left: 1px solid transparent;
}

.InboxNav .active {
  border-left: 1px solid #f0b202;
}
