.AccountHeader {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.AccountHeader h1 {
  color: #f0b202;
}

.AccountMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.AccountMain .username {
  margin-bottom: 1rem;
}
