.UpdatePhoto {
  position: relative;
  margin-bottom: 1rem;
}

.UpdatePhoto img {
  height: 7em;
  width: 7em;
  object-fit: cover;
  border-radius: 50%;
}

.UpdatePhoto .edit-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 7rem;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.UpdatePhoto .edit-photo:hover {
  opacity: 1;
  cursor: pointer;
}

.UpdatePhoto .edit-photo svg {
  color: #f0b202;
  font-size: 2rem;
}
