.DiscoverPage {
  padding: 1em;
  height: 100%;
  width: 100%;
}

.DiscoverPage .empty .refresh-button {
  color: #353839;
  background-color: #f0b202;
}

@media only screen and (min-width: 768px) {
  .DiscoverPage {
    padding: 0;
  }
}
