.UpcomingTripsContainer {
  flex: 1;
  padding: 1rem 1rem 0;
  height: 100%;
  overflow: scroll;
}

.UpcomingTripsContainer .empty a {
  color: #353839;
  text-decoration: underline;
}

.UpcomingTripsContainer li:last-child {
  margin-bottom: 0;
}
