.FriendButton {
  display: flex;
  justify-content: center;
  width: 100%;
}

.FriendButton .dropdown {
  width: 60%;
}

.FriendButton button {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  background-color: #f0b202;
  color: #353839;
}
