.ProfileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353839;
}

.ProfileInfo .profile-pic {
  height: 7em;
  width: 7em;
  object-fit: cover;
  border-radius: 50%;
}

.ProfileInfo .counts {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.ProfileInfo .following-count,
.ProfileInfo .followers-count,
.ProfileInfo .trip-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
}
