.TripDetailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.TripDetailsHeader h1 {
  color: #f0b202;
}

.TripDetailsHeader p {
  font-size: 0.8em;
  color: #353839;
}
