.SearchPage {
  padding: 1rem;
  flex: 1;
}

.SearchPage form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.SearchPage input {
  margin-bottom: 1.5rem;
}

.SearchPage button {
  font-family: "Oswald", sans-serif;
  color: #353839;
  background-color: #f0b202;
}

.SearchPage .no-results {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .SearchPage {
    padding: 0 2rem 1rem;
  }
}
