.DummyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  background-color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.DummyHeader h1 {
  color: #f0b202;
}

.DummyHeader img {
  height: 2.3rem;
  width: 2.3rem;
}

@media only screen and (min-width: 768px) {
  .DummyHeader {
    margin-left: -1rem;
    padding: 0 3rem;
  }
}
