.WelcomeView {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  height: 100%;
}

.WelcomeView h1 {
  font-size: 1.8rem;
  color: #f0b202;
  z-index: 1000;
}

.WelcomeView form {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.WelcomeView .form-username,
.WelcomeView .form-profile-pic,
.WelcomeView .form-hometown {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 1rem;
}

.WelcomeView .form-username label,
.WelcomeView .form-profile-pic label,
.WelcomeView .form-hometown label {
  margin-top: 3rem;
}

.WelcomeView .form-username button {
  align-self: flex-end;
  margin-top: auto;
}

.WelcomeView .button-container,
.WelcomeView .create-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.WelcomeView .create-view {
  padding: 0 1rem;
}

.WelcomeView .welcome-paragraph {
  margin-top: 3rem;
  text-align: center;
}
/* 
.WelcomeView .plane {
  font-size: 3rem;
  opacity: 0.2;
  position: absolute;
  z-index: -1;
}

.WelcomeView .plane-1 {
  top: 110%;
  left: 20%;
  transform: rotate(38deg);
  animation: fly1 10s infinite;
}

@keyframes fly1 {
  100% {
    top: -10%;
    left: 80%;
  }
}

.WelcomeView .plane-2 {
  top: -10%;
  left: 20%;
  transform: rotate(162deg);
  animation: fly2 4s infinite;
}

@keyframes fly2 {
  100% {
    top: 110%;
    left: 80%;
  }
} */
