.DesktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 0 2rem;
  height: 3.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.DesktopHeader h1 {
  color: #f0b202;
  user-select: none;
  font-family: "Roboto", sans-serif;
}

.DesktopHeader .menu-button {
  display: flex;
  border: 0;
  color: #f5f5f5;
  border-radius: 50%;
}

.DesktopHeader .menu-button:active {
  opacity: 0.7;
}

.DesktopHeader .menu-button img {
  height: 2.5rem;
  width: 2.5rem;
}
