.SuggestionCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  user-select: none;
  color: #353839;
}

.SuggestionCard .image-name-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.SuggestionCard .image-name-container:active {
  opacity: 0.8;
}

.SuggestionCard img {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.SuggestionCard button {
  font-size: 0.7rem;
  background-color: #f0b202;
  color: #353839;
}
