.Sidebar {
  display: none;
  position: sticky;
  top: 0;
  width: 13rem;
  margin-left: 1rem;
  padding: 0 1rem;
}

.Sidebar a {
  display: flex;
  align-items: center;
  color: #353839;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  position: relative;
  font-size: 1.1rem;
}

.Sidebar svg {
  margin-right: 1rem;
}

.Sidebar .active {
  background-color: #f0b202;
}

.Sidebar .notification-count {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353839;
  color: #f5f5f5;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.7rem;
  padding: 0.6rem;
}

@media only screen and (min-width: 768px) {
  .Sidebar {
    display: block;
  }
}
