.DiscoverCard {
  margin: 1em 0 2em 0;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.DiscoverCard:hover {
  transform: scale(1.02);
  transition: 0.5s ease;
}

.DiscoverCard img {
  height: 20em;
  object-fit: cover;
}

.DiscoverCard .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.DiscoverCard .h5 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0;
}

.DiscoverCard .country {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.DiscoverCard .pin {
  height: 100%;
  color: #f0b202;
}
