.Homepage {
  flex: 1;
  height: 100%;
}

.Homepage .feed-container {
  padding: 1rem;
}

.Homepage li:last-child {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .Homepage .feed-container {
    padding: 0 2rem 1rem;
  }
}
