.PlanTripPage {
  color: #353839;
  padding: 1rem;
  flex: 1;
}

.PlanTripPage .discover-text {
  font-size: 0.8rem;
  padding: 1rem;
  text-align: center;
}

.PlanTripPage .discover-button {
  font-size: 0.8rem;
  background-color: #f0b202;
  color: #353839;
}

@media only screen and (min-width: 768px) {
  .PlanTripPage {
    padding: 0;
  }
}
