.AllNotificationsHeader .dropdown-toggle {
  display: flex;
  padding: 0.3em;
}

.AllNotificationsHeader svg {
  color: #f5f5f5;
}

.AllNotificationsHeader .dropdown-toggle::after {
  display: none;
}

.AllNotificationsMain {
  padding: 0 1em;
}

.AllNotificationsMain .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.AllNotificationsMain .spinner-border {
  height: 5em;
  width: 5em;
  color: #f0b202;
}
