.InboxNotificationsSection {
  padding-bottom: 1em;
  color: #353839;
}

.InboxNotificationsSection .section-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.InboxNotificationsSection .section-header-row:hover {
  cursor: pointer;
}

.InboxNotificationsSection .section-header-row h2 {
  font-size: 1.2em;
}

.InboxNotificationsSection .no-notifs {
  height: 2.5em;
  padding: 0.5em;
  text-align: center;
}
