.NotificationCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0.5em 0;
  position: relative;
}

.NotificationCard:hover {
  cursor: pointer;
}

.NotificationCard .dot-container {
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0.2em;
  position: absolute;
  left: -0.6em;
}

.NotificationCard .dot-container:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.NotificationCard .notification-dot {
  background-color: #f0b202;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
}

.NotificationCard .image-message-container {
  display: flex;
  align-items: center;
  margin-left: 0.7em;
}

.NotificationCard img {
  height: 2.5em;
  width: 2.5em;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5em;
}

.NotificationCard p {
  font-size: 0.8em;
}

.NotificationCard .username {
  font-weight: 700;
}
