.NotificationCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0.5em 0;
  position: relative;
  color: #353839;
  transition: 0.3s;
}

.NotificationCard .notification-dot {
  background-color: #f0b202;
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  position: absolute;
  left: -1.3em;
}

.NotificationCard .total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: 0.3s;
  background-color: #f5f5f5;
  position: relative;
  z-index: 1;
}

.NotificationCard .total-container:hover {
  cursor: pointer;
}

.NotificationCard .image-message-container {
  display: flex;
  align-items: center;
}

.NotificationCard .image-message-container svg {
  margin-left: -0.5em;
  height: 1.5em;
  width: 1.5em;
}

.NotificationCard img {
  height: 2.5em;
  width: 2.5em;
  margin-right: 0.5em;
}

.NotificationCard p {
  font-size: 0.8em;
}

.NotificationCard .username {
  font-weight: 700;
}

.NotificationCard .hidden-buttons {
  display: flex;
  position: absolute;
  right: 0;
}

.NotificationCard .read-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.5em;
  background-color: #f0b202;
  border-radius: 0.5em;
}

.NotificationCard .read-button:hover {
  cursor: pointer;
}

.NotificationCard .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  background-color: #ff4000;
  border-radius: 0.5em;
}

.NotificationCard .delete-button:hover {
  cursor: pointer;
}

.NotificationCard .read-button svg,
.NotificationCard .delete-button svg {
  color: #f5f5f5;
}
