.UpdatePhoto {
  position: relative;
  margin-bottom: 1rem;
}

.UpdatePhoto img {
  height: 7em;
  width: 7em;
  border-radius: 50%;
  object-fit: cover;
}

.UpdatePhoto .edit-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  background-color: #353839;
}

.UpdatePhoto .edit-photo:hover {
  cursor: pointer;
}

.UpdatePhoto .edit-photo svg {
  color: #f0b202;
  font-size: 1.5em;
}
