.Header {
  display: none;
}

.Header .outer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .header-item {
  width: 30%;
}

.Header .inner-list {
  display: flex;
  justify-content: space-between;
}

.Header .inner-list li {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .Header {
    display: block;
  }
}
