.CityVisitors {
  display: flex;
  align-items: center;
  padding: 1em 1em 0;
}

.CityVisitors ul {
  display: flex;
}

.CityVisitors .visitors {
  margin-right: 0.5em;
}

.CityVisitors li:last-child {
  margin-right: 0;
}
