.FriendsPage {
  padding: 1.5em;
}

.FriendsPage .nav-item {
  display: flex;
  justify-content: center;
  width: 33%;
  font-family: "Roboto", "sans-serif";
}

.FriendsPage .nav-pills .nav-link {
  color: black;
  border-radius: 0;
  padding: 0.2em;
  border-bottom: 1px solid transparent;
  width: auto;
}

.FriendsPage .nav-pills .active {
  background-color: transparent;
  border-bottom: 1px solid #f0b202;
}
