.FriendsPage {
  padding: 1.5em;
}

.FriendsPage .nav-pills {
  position: sticky;
  top: 0px;
  background-color: #f5f5f5;
  margin: -1.5em -1.5em 0 -1.5em;
  padding: 1.5em 1.5em 1em 1.5em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.FriendsPage .nav-item {
  display: flex;
  justify-content: center;
  width: 33%;
  font-size: 0.8em;
  font-family: "Roboto", "sans-serif";
}

.FriendsPage .nav-pills .nav-link {
  color: black;
  border-radius: 0;
  padding: 0.2em;
  border-bottom: 2px solid transparent;
  width: auto;
}

.FriendsPage .nav-pills .active {
  background-color: transparent;
  border-bottom: 2px solid #f0b202;
}
