.HometownSettings {
  width: 100%;
}

.HometownSettings .city-name {
  color: #353839;
}

.HometownSettings button {
  background-color: transparent;
  border: none;
  color: #f0b202;
  padding: 0;
  font-size: 1rem;
}

.HometownSettings .locked-settings,
.HometownSettings .unlocked-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HometownSettings select {
  border: none;
  background-color: transparent;
  margin-left: -0.25em;
}

.HometownSettings .check-button {
  margin-right: 0.5em;
}
