.UserCard {
  margin-top: 2em;
}

.UserCard .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserCard img {
  height: 6em;
  width: 6em;
  object-fit: cover;
  border-radius: 50%;
}

.UserCard .card-title {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.UserCard .card-text {
  margin-top: 0.5em;
}

.UserCard .view-profile-button {
  width: 50%;
  margin-top: 1em;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  background-color: #f0b202;
}
