.FeedCardParticipantsSection {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}

.FeedCardParticipantsSection h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  margin-right: 0.5em;
}

.FeedCardParticipantsSection ul {
  display: flex;
  overflow: scroll;
  width: 100%;
}

.FeedCardParticipantsSection li:last-child {
  margin-right: 0;
}
