.FeedCardLocation {
  display: flex;
  padding: 0.5em 1em;
  border-bottom-right-radius: 1em;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 4.5em;
}

.FeedCardLocation p {
  font-size: 0.8em;
  color: #f5f5f5;
}

.FeedCardLocation .location {
  margin-right: 0.5em;
}
