.FriendCardPhotoCarousel .carousel-image {
  height: 25em;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.FriendCardPhotoCarousel .decoy {
  height: 20em;
}

.FriendCardPhotoCarousel .decoy:hover {
  cursor: pointer;
}
