.PlaceholderCard {
  padding-top: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.PlaceholderCard .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.PlaceholderCard .image-name-location-container {
  display: flex;
  align-items: center;
}

.PlaceholderCard .image-name-location-container .user-photo {
  height: 2.3em;
  width: 2.3em;
  border-radius: 50%;
  margin-right: 0.5em;
}

.PlaceholderCard .name-location-container .title {
  display: block;
  height: 1em;
  width: 5em;
  margin-bottom: 0.3em;
}

.PlaceholderCard .name-location-container .city {
  width: 10em;
}

.PlaceholderCard .post-header button {
  font-size: 0.7em;
  padding: 0.5em 1em;
  width: 6.5em;
}

.PlaceholderCard .image-container {
  display: block;
  height: 20em;
  margin: 0.5em 0;
}

.PlaceholderCard .image-container .image {
  display: block;
  width: 100%;
  height: 100%;
}

.PlaceholderCard .participants {
  margin: 0.5em;
}

.PlaceholderCard .likes-comments-labels {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5em;
  padding: 0 1em 0.5em 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.PlaceholderCard .likes-comments-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
}

.PlaceholderCard .likes-comments-buttons div {
  display: flex;
  align-items: center;
  padding: 0.3em;
  cursor: pointer;
}

.PlaceholderCard .likes-comments-buttons svg {
  margin-right: 0.5em;
}
