.AddCommentForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 4rem;
  position: sticky;
  bottom: 0;
}

.AddCommentForm div {
  width: 100%;
  padding-right: 0.5rem;
}

.AddCommentForm input {
  font-size: 0.7rem;
  height: 100%;
}

.AddCommentForm button {
  font-size: 0.7rem;
  padding: 0.2rem 1rem;
  background-color: #f0b202;
  color: #353839;
}
