.CommentCard {
  display: flex;
  align-items: center;
  color: #353839;
  background-color: #f5f5f5;
  padding: 0 1rem 1rem;
}

.CommentCard .total-container {
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.3s;
  background-color: inherit;
  position: relative;
  z-index: 1;
}

.CommentCard .commentor-image {
  border-radius: 50%;
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.CommentCard .commentor-image:hover {
  cursor: pointer;
}

.CommentCard .name-comment-container {
  flex: 1;
}

.CommentCard h2 {
  font-size: 0.8rem;
  font-weight: 600;
}

.CommentCard h2:hover {
  cursor: pointer;
}

.CommentCard .comment {
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0.3rem 0;
}

.CommentCard .date-time {
  font-size: 0.7em;
}

.CommentCard .show-delete-button {
  cursor: pointer;
}

.CommentCard .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  position: absolute;
  right: 1rem;
}
