.TripCommentsContainer {
  height: 100%;
}

.TripCommentsContainer .empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #353839;
}

.TripCommentsContainer .empty svg {
  font-size: 5em;
}
