.TripCommentsContainer {
  height: calc(100% - 4rem);
  overflow: scroll;
}

.TripCommentsContainer li:last-child {
  padding-bottom: 0;
}

.TripCommentsContainer .empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: #353839;
}

.TripCommentsContainer .empty svg {
  font-size: 5rem;
}

.TripCommentsContainer .centered-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353839;
  text-decoration: none;
  font-size: 0.8rem;
  width: 100%;
  height: 4rem;
}
