.FeedCard .post {
  margin: 0 -1.5em 1em -1.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.FeedCard .likes-comments-labels {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5em;
  padding: 0 1em 0.5em 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.FeedCard .likes-comments-labels p {
  font-size: 0.8em;
  color: grey;
}

.FeedCard .likes-comments-labels p:hover {
  cursor: pointer;
}

.FeedCard .likes-comments-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
}

.FeedCard .likes-comments-buttons div {
  display: flex;
  align-items: center;
  padding: 0.3em;
  cursor: pointer;
}

.FeedCard .likes-comments-buttons svg {
  margin-right: 0.5em;
}

.FeedCard form {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em 1em 0.5em;
}

.FeedCard .comment-form div {
  flex: 1;
  margin-right: 0.5em;
}

.FeedCard .comment-form button {
  font-size: 0.7em;
  padding: 0.5em 1em;
  background-color: #f0b202;
}
