.PastTripCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  user-select: none;
  color: #353839;
}

.PastTripCard .info-container:hover {
  cursor: pointer;
}

.PastTripCard .info-container:active {
  opacity: 0.8;
}

.PastTripCard .info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.PastTripCard img {
  height: 4rem;
  width: 4rem;
}

.PastTripCard h3 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  text-align: right;
}

.PastTripCard h4 {
  font-family: "Roboto", "sans-serif";
  font-size: 0.9rem;
  text-align: right;
}

.PastTripCard svg {
  color: #f0b202;
  font-size: 2rem;
  margin: -0.4rem;
}

.PastTripCard .confirm-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-top: 0.5rem;
}

.PastTripCard .button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.PastTripCard .button-container button {
  width: 4rem;
  padding: 0;
  margin-top: 0.5rem;
  background-color: #f0b202;
}
