.TripCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1.5em;
  user-select: none;
}

.TripCard:hover {
  cursor: pointer;
}

.TripCard:active {
  opacity: 0.8;
}

.TripCard .info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.TripCard img {
  border-radius: 50%;
  object-fit: cover;
  height: 4em;
  width: 4em;
}

.TripCard h3 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 1.2em;
  text-align: right;
}

.TripCard h4 {
  font-family: "Roboto", "sans-serif";
  font-size: 0.9em;
  text-align: right;
}

.TripCard svg {
  color: #f0b202;
  font-size: 2em;
  margin: -0.4em;
}
