/* color scheme
  black: #353839
  yellow: #f0b202
  white: #f5f5f5
  red: #ff4000
*/

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App .circle-image {
  border-radius: 50%;
  object-fit: cover;
}
