/* resets */

body,
ul,
li,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App main {
  flex: 1;
  background-color: #f5f5f5;
  padding-bottom: 5em;
}

.App h2 {
  font-family: "Roboto", sans-serif;
}
