.TripDetailsHeader .name-container {
  display: flex;
  align-items: center;
}

.TripDetailsHeader h1 {
  margin-right: 0.3em;
}

.TripDetailsHeader svg {
  color: #f0b202;
  cursor: pointer;
}

.TripDetailsHeader p {
  font-size: 0.8em;
  color: #353839;
}
