.CityDetailsButtonsContainer {
  display: flex;
  justify-content: space-evenly;
  font-size: 4rem;
  width: 100%;
  padding: 1rem;
}

.CityDetailsButtonsContainer .thumbs {
  cursor: pointer;
}

.CityDetailsButtonsContainer .thumbs:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
  color: #f0b202;
}
