.FeedCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 0 1em;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  height: 4.5em;
}

.FeedCardHeader button {
  font-size: 0.7em;
  padding: 0.5em 1em;
  background-color: #f0b202;
}
