.FeedCardLocation {
  display: flex;
  align-items: flex-end;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 4.5rem;
  user-select: none;
}

.FeedCardLocation p {
  color: #f5f5f5;
}

.FeedCardLocation .location {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.FeedCardLocation .date {
  font-size: 0.7rem;
}
