.TripMessagesContainer {
  padding: 1em;
}

.TripMessagesContainer .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.TripMessagesContainer .spinner-border {
  height: 5em;
  width: 5em;
  color: #f0b202;
}
