.MobileNavigation {
  width: 100%;
  height: 4em;
  position: fixed;
  bottom: 0;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.MobileNavigation nav {
  height: 100%;
}

.MobileNavigation ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.MobileNavigation li {
  width: 20%;
}

.MobileNavigation a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  width: 100%;
}

.MobileNavigation .active {
  color: #f0b202;
}

.MobileNavigation li svg {
  font-size: 1.7em;
}

.MobileNavigation .trip-icon {
  position: relative;
}

.MobileNavigation .notification-dot {
  background-color: #f0b202;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .MobileNavigation {
    display: none;
  }
}
